 
         #main-doc
         {
margin-left: 350px;
background-color: rgb(250, 249, 202);

         }
         #icon
         {
             width: 40px;
             height: 40px;
         }
         .main-section
         {
width: 65vw;
font-size: 25px;
line-height: 50px;
text-indent: 25px;
margin-left: 80px;

         }
         #navbar
         {
position: fixed;
height: 100%;
width: 350px;
z-index: 1;
left: 0;
top: 0;
overflow-x: hidden;
padding-top: 30px;
background-color: rgb(250, 249, 202);
color: tomato;
         }

         .nav-link
         {
display: block;
font-size: 25px;
text-decoration: none;
background-color: wheat;
             padding: 30px;
             color: rgb(172, 112, 69);
         }
         .nav-link:hover
         {
             background-color: rgb(241, 182, 160);
         }
         .a:hover
         {
color: rgb(172, 112, 69);
         }
         header
         {
font-size: 45px;
font-weight: 700;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-indent: 10px;
         }
         .move
         {
             text-align: center;
             padding-bottom: 40px;
         }
         .img
         {
             width: 700px;
             height: 500px;
             text-align: center;
         }
         @media screen and ( max-width: 400px)
         {
#nav-bar
{
height: 100%;
width: 300px;
position: fixed;
}
#main-doc
{
    margin-left: 300px;
}
         }
         .footer 
{
    text-align: center;
    font-size: 20px;
}
h3
{
    font-size: 25px;
line-height: 50px;
text-indent: 25px;
margin-left: 80px;
font-weight: 200;
}
    